/* Estilos Gerais */
:root {
    --cor-fundo: #FEFAE0;
    --cor-tabuleiro: #E9EDC9;
    --cor-peca: #A2D2FF;
    --cor-peca-borda: #74A4CC;
    --cor-vazio: #FAEDCD;
    --cor-vazio-borda: #D4A373;
    --cor-selecionada: #FFC8DD;
    --cor-sombra-selecionada: rgba(255, 200, 221, 0.7);
    --cor-texto-principal: #606C38;
    --cor-texto-vitoria: #283618;
    --cor-texto-derrota: #BC4749;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    margin: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--cor-peca);
}

/* Estilos do Tabuleiro com o uso de Grid */
#tabuleiro {
    display: grid;
    /* Cria um grid de 7 colunas para o tabuleiro */
    grid-template-columns: repeat(7, 1fr);
    width: clamp(300px, 90vw, 490px);
    height: clamp(300px, 90vw, 490px);
    border: 1px solid #CCD5AE;
    background-color: var(--cor-tabuleiro);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
    padding: 10px;
    gap: 5px;
}

.celula {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Célula que não faz parte do tabuleiro */
.fora {
    background-color: transparent;
    border: none;
}

/* Espaço vazio onde uma peça pode se mover */
.vazio {
    background-color: var(--cor-vazio);
    border: 2px dashed var(--cor-vazio-borda);
    cursor: pointer;
}